<% layout('layouts/boilerplate') %> <!-- automatic views folder theke search start korbe -->
    <link rel="stylesheet" href="/stylesheet/home.css">

    <section class="d-flex flex-column justify-content-center root">
        <section class="text-white text-center">
            <h1>YelpCamp</h1>
            <p>Welcome To YelpCamp<br>
                Jump right in and explore our many campgrounds<br>
                Feel free to share some of your own and comments others
            </p>
            <a href="/campgrounds" class="btn btn-secondary">View Campgrounds</a>
        </section>
    </section>