<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show a specific Item</title>
</head>
<body>
    <h1><%= specificCampground.title %> </h1>
    <h4><%= specificCampground.location %> </h4>

    <p>
        <a href="/campgrounds">back</a>    <!--by default get request-->
    </p>

    <p>
        <a href="/campgrounds/<%= specificCampground._id %>/edit">edit</a>    <!--by default get request-->
    </p>
    
    <form action="/campgrounds/<%= specificCampground._id %>?_method=DELETE" method="post">
        <button>delete</button>
    </form>
</body>
</html>