<% layout('layouts/boilerplate') %>             <!-- automatic views folder theke search start korbe -->
    <h1 class="text-center mb-4">Form To Create A Campground</h1>
    <div class="row justify-content-center">
        <div class="col-6 ">
            <form action="/campgrounds" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="camp[title]" placeholder="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="camp[location]" placeholder="location"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">img-URL</label>
                    <input type="text" class="form-control" id="image" name="camp[image]" placeholder="url" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="camp[price]" placeholder="0.00" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="camp[description]" rows="3"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            <a class="btn btn-primary my-3" href="/campgrounds">back</a>
        </div>
    </div>