<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new comment creation form</title>
</head>

<body>
    <form action="/comments" method="post">
        <p>
            <label for="username">username: </label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="comment">comment: </label>
            <br><br>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </p>
        <p>
            <button>submit</button>
        </p>
    </form>
    <section>
        <!-- by default its a get request -->
        <a href="/comments">go back</a>   <!-- its a url not folder name-->   
    </section>
</body>

</html>