<nav>
    <ul>
        <li>Express Demo</li>
        <div id="bar">
            <li><a href="/r/chickens">Chickens</a></li>
            <li><a href="/r/soccer">Soccer</a></li>
            <li><a href="/r/mightyharvest">Mighty Harvest</a></li>
        </div>
    </ul>
</nav>