<div class="footer bg-dark text-muted py-3 mt-auto">    <!-- mt-auto deyay footer niche gese karon body te vh-100 disi
                                                        so body minimum 100 view point dibe and footer er mt-auto deyay
                                                        body tar niche theke footer start hobe at least -->
    <div class="container">
        <span>YelpCamp</span>
    </div>
</div>