<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat a product</title>
</head>
<body>
    <h1>Fill Up Product Info</h1>
    <form action="/products" method="post">
        <p>
            <label for="name">name: </label>
            <input type="text" name="name" id="name">
        </p>

        <p>
            <label for="price">price: </label>
            <input type="text" name="price" id="price">
        </p>

        <p>
            <label for="category">select category: </label>
            <select name="category" id="category">
                <option value="fruit">fruit</option>
                <option value="vegetable">vegetable</option>
                <option value="dairy">dairy</option>
            </select>
        </p>
        <p>
            <button>submit</button>
        </p>
    </form>

    <a href="/products">All Products</a>  <!--- by default get req -->
</body>
</html>