<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>Welcome to our homepage <%= (6+2+1)/2 %></h1> 

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod et aspernatur voluptas amet consequatur, itaque
        maiores, nemo <%= 'consectetur'.toUpperCase() %> voluptatum repellat necessitatibus accusamus rem eum mollitia saepe quo dicta nesciunt
        optio.
    </p>
</body>
</html>



